<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style>
            * {font-family: 'Arial'; font-size: 10px;}
            th,td,p,div,strong{font-family: 'Arial'; font-size: 10px;}
        </style>
    </head>
    <body>
        <p>&nbsp;</p>
        <div style="text-align: right; width: 40%;display: table; float: right;">
            <strong>Унифицированная форма КС №2</strong><br />
            <nobr>Утверждена Постановлением Госкомстата России</nobr><br />
                    от 11.11.99 №2
        </div>
        <p style="clear: both;">&nbsp;</p>
            <table style="width: 100%;" CELLSPACING="0">
                <tr>
                    <td style="width: 100px;"></td>
                    <td></td>
                    <td style="width: 10px;"></td>
                    <td style="width: 100px; text-align: right;"></td>
                    <td style="text-align: center; width: 150px; text-align: center; border: 1px solid #000; border-botton: 0;">Код</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style=" text-align: right;">Форма по ОКУД</td>
                    <td style="text-align: center; border: 1px solid #000; border-top: 0;">322005</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style=" text-align: right;"></td>
                    <td style="text-align: center; border: 1px solid #000; border-top: 0;">&nbsp;</td>
                </tr>
                <tr>
                    <th style=" text-align: left;">Заказчик (Генподрядчик):</th>
                    <td style="border-bottom: 0px solid #000;">{customer_name} {customer_actual_address}, {customer_phone}</td>
                    <td></td>
                    <td style=" text-align: right;">по ОКПО</td>
                    <td style="text-align: center; border: 1px solid #000; border-top: 0;">{customer_okpo}</td>
                </tr>
                <tr>
                    <th style=" text-align: left;">Подрядчик:</th>
                    <td style="border-bottom: 0px solid #000;">{contractor_name} {contractor_actual_address}, {contractor_phone}</td>
                    <td></td>
                    <td style=" text-align: right;">по ОКПО</td>
                    <td style="text-align: center; border: 1px solid #000; border-top: 0;">{contractor_okpo}</td>
                </tr>
                <tr>
                    <th style=" text-align: left;">Стройка:</th>
                    <td style="border-bottom: 0px solid #000;">{work_name} по списку, согласно N 1 ({cable})</td>
                    <td></td>
                    <td style=" text-align: right;"></td>
                    <td style="text-align: center; border: 1px solid #000; border-top: 0;">&nbsp;</td>
                </tr>
                <tr>
                    <th style=" text-align: left;"></th>
                    <td style="border-bottom: 0px solid #000;"></td>
                    <td></td>
                    <td style=" text-align: right;"></td>
                    <td style="text-align: center; border: 1px solid #000; border-top: 0;">&nbsp;</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style=" text-align: right;">Вид деятельности по ОКДП</td>
                    <td style="text-align: center; border: 1px solid #000; border-top: 0;">&nbsp;</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>&nbsp;</td>
                    <td ></td>
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align: right;">Договор подряда (контракт)</td>
                    <td></td>
                    <td style="text-align: center; border: 1px solid #000;">номер</td>
                    <td style="text-align: center; border: 1px solid #000;">{contract}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: center; border: 1px solid #000;">Дата</td>
                    <td style="text-align: center; border: 1px solid #000; border-top: 0;">{contract_date}</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align: right;">Дополнительное соглашение (контракт)</td>
                    <td></td>
                    <td style="text-align: center; border: 1px solid #000;">номер</td>
                    <td style="text-align: center; border: 1px solid #000; border-top: 0;">{accord}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: center; border: 1px solid #000;">Дата</td>
                    <td style="text-align: center; border: 1px solid #000; border-top: 0;">{accord_date}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: center; border: 1px solid #000;">Вид операции</td>
                    <td style="text-align: center; border: 1px solid #000; border-top: 0;"></td>
                </tr>
            </table>
            <table style="width: 100%;" CELLSPACING="0">
                <tr>
                    <td rowspan="4"></td>
                    <td rowspan="2" style="text-align: center; vertical-align: middle; width: 100px; text-align: center; border: 1px solid #000; border-botton: 0;">Номер документа</td>
                    <td rowspan="2" style="text-align: center; vertical-align: middle; width: 99px; text-align: center; border: 1px solid #000; border-botton: 0;">Номер документа</td>
                    <td  colspan="2" style="border: 1px solid #000; width: 100px;">Отчетный период</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #000; text-align: center; width: 80px;">c</td>
                    <td style="border: 1px solid #000; text-align: center; width: 70px;">по</td>
                </tr>
                <tr>
                    <td style="text-align: center; border: 1px solid #000;">{nn}</td>
                    <td style="text-align: center; border: 1px solid #000;">{date_stop}</td>
                    <td style="text-align: center; border: 1px solid #000;">{date_start}</td>
                    <td style="text-align: center; border: 1px solid #000;">{date_stop}</td>
                </tr>
            </table>
        <p style="text-align: center;  margin-right: 50px; font-size: 16px;">СПРАВКА<br /><span style="font-size: 12px;">о стоимости выполненных работ и затрат</span></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
                    <!-- -->
         <table style="width: 100%;" align="center" CELLSPACING="0">
            <tr>
                <th rowspan="2" style="border: 1px solid #000;">№№</th>
                <th rowspan="2" style="border: 1px solid #000;">Наименование пусковых комплексов, объектов, видов выполненных работ, оборудования, затрат</th>
                <th rowspan="2" style="border: 1px solid #000;">Код</th>
                <th colspan="3" style="border: 1px solid #000;">Стоимость выполненных работ и затрат, руб.</th>
            </tr>
            <tr>
                <th style="border: 1px solid #000;">с начала проведения работ</th>
                <th style="border: 1px solid #000;">с начала года по отчетный месяц включительно</th>
                <th style="border: 1px solid #000;">в том числе за отчетный период</th>
            </tr>
            <tr>
                <th style="border: 1px solid #000;"></th>
                <th style="border: 1px solid #000;">Всего работ и затрат, включаемых в стоимость</th>
                <th style="border: 1px solid #000;"></th>
                <th style="border: 1px solid #000;">{total}</th>
                <th style="border: 1px solid #000;">{total}</th>
                <th style="border: 1px solid #000;">{total}</th>
            </tr>
        </table>
                    <table style="width: 90%;" CELLSPACING="0" align="center">
                        <tr>
                            <th style="border: 1px solid #000; text-align: right;">Итог с учетом НДС</th>
                            <th style="border: 1px solid #000; text-align: center; width: 100px;">{total_nds}<th>
                        </tr>
                        <tr>
                            <th style="border: 1px solid #000; text-align: right;">В том числе НДС (18%)</th>
                            <th style="border: 1px solid #000; text-align: center;">{nds}<th>
                        </tr>
                        <tr>
                            <th style="border: 1px solid #000; text-align: right;">Сумма аванса с учетом НДС</th>
                            <th style="border: 1px solid #000; text-align: center;">0<th>
                        </tr>
                        <tr>
                            <th style="border: 1px solid #000; text-align: right;">В том числе НДС (18%)</th>
                            <th style="border: 1px solid #000; text-align: center;">0<th>
                        </tr>
                        <tr>
                            <th style="border: 1px solid #000; text-align: right;">Итог к оплате с учетом НДС</th>
                            <th style="border: 1px solid #000; text-align: center;">{total_nds}<th>
                        </tr>
                    </table>
                    <!-- -->
                
            <table style="width: 100%;">
                <tr><td>&nbsp;</td></tr>
            <tr>
                <td style="width: 30px;">Заказчик</td>
                <td></td>
                <td>Генеральный директор {customer_name}</td>
                <td style="border-bottom: 1px solid #000;"></td>
                <td style="text-align: center;">{customer_director}</td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: center;">М.П.</td>
                <td ></td>
                <td style="text-align: center;">подпись</td>
                <td style="text-align: center;">расшифровка подписи</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Подрядчик</td>
                <td></td>
                <td style="width: 300px;">Генеральный директор {contractor_name}</td>
                <td style="border-bottom: 1px solid #000;"></td>
                <td style="text-align: center;">{contractor_director}</td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: center;">М.П.</td>
                <td ></td>
                <td style="text-align: center;">подпись</td>
                <td style="text-align: center;">расшифровка подписи</td>
            </tr>
        </table>
        
    </body>
</html>
