<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
         <link rel="stylesheet" href="assets/css/bootstrap.css">
         <script src="assets/js/jquery.js"></script>
         <script src="assets/js/bootstrap.js"></script>
         <script>
             var edit_id = {};
         </script>
         <style>
             body { padding-top: 70px; }
         </style>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <a class="navbar-brand" href="?act=">Управления КС</a>
            <ul class="nav navbar-nav">
              <li>
                  <a data-toggle="dropdown" href="?act=edirot_ks">Редакторы</a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <li><a href="?act=editor_ks_ms">Редактор МС</a></li>
                      <li><a href="?act=editor_ks_drs">Редактор ДРС</a></li>
                  </ul>
              </li>
              <li>
                  <a data-toggle="dropdown" href="#">Каталоги</a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <li><a href="?act=catalog_contractor">Подрядчики</a></li>
                      <li><a href="?act=catalog_price">Расценки</a></li>
                      <li><a href="?act=catalog_address">Адреса</a></li>
                      <li><a href="?act=catalog_ks">Формы КС</a></li>
                  </ul>
              </li>
            </ul>
        </div>
        <!-- -->
        <div class="container">
            <div class="page-header">
                <h1>Редакторы <small>системы формирования и редактирования форм КС</small></h1>
            </div>
            <div class="row">
                <div class="jumbotron col-lg-5">
                    <h1>ДРС</h1>
                    <p>Создание и редактирование форм КС для ДРС</p>
                    <p><a class="btn btn-primary btn-large" href="?act=editor_ks_drs">Перейти к редактору ДРС</a></p>
                 </div>
                <div class="col-lg-1"></div>
                <div class="jumbotron col-lg-5">
                    <h1>МС</h1>
                    <p>Создание и редактирование форм КС для МС</p>
                    <p><a class="btn btn-primary btn-large" href="?act=editor_ks_ms">Перейти к редактору МС</a></p>
                  </div>
            </div>

        </div>
        <!-- -->
    </body>
</html>
